services:
  postgres:
    image: postgres:15
    command: '-d 1' # set debug-level
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=main
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 10s
      timeout: 5s
      retries: 5

  neon-proxy:
    build:
      context: ./docker/neon-proxy/
      dockerfile: Dockerfile
    environment:
      - PG_CONNECTION_STRING=postgres://postgres:postgres@postgres:5432/main
    ports:
      - '4444:4444'
    depends_on:
      postgres:
        condition: service_healthy

  typesense:
    image: typesense/typesense:30.1
    restart: on-failure
    ports:
      - '8108:8108'
    volumes:
      - ./docker/typesense:/data
    command: '--data-dir /data --api-key=xyz --enable-cors'

volumes:
  db_data:
