.truth-score-input-container {
  display: flex;
  height: 40px;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
}

.truth-score-input-wrapper {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid #cfcfcf; /* zinc-200 */
  height: 100%;
  overflow: hidden;
}

.truth-score-input {
  width: 100%;
  height: 100%;
  padding: 0 0.5rem;
  outline: none;
  border: none;
}

.truth-score-input::placeholder {
  font-size: 0.875rem;
}

.truth-score-submit-button {
  max-width: 120px;
  width: 100%;
  padding: 0 1rem;
  font-size: 0.875rem;
  height: 100%;
  border-radius: 0.375rem;
  color: white;
  background-color: #18181b; /* zinc-900 */
}
